*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FECED4;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #FF9FB7;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#FFD0D0, #FFDFA3, #C8F8FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2.5s infinite linear; 
}

.madoka{
    width: 170px;
    position: absolute;
    bottom: 0px;
}

.jump{
    animation: jump 500ms ease-out;
}

.cloud{
    position: absolute;
    width: 230px;
    animation: cloud-animation 10s infinite linear;
}

.star{
    position: absolute;
    right: 1750px;
    width: 150px;
}

.nintendo{
    position: absolute;
    right: 700px;
}

@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
       bottom: 200px;
    }

    50%{
        bottom: 200px;
    }

    60%{
        bottom: 200px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes cloud-animation{
    from{
        right: -250px;
    }
    to{
        right: 100%;
    }
}